$black:#010122;
$white:#FFFFFF;
$gray:#4a5155;
$blue: #161C82;
$green:#BBFFD1;
$darkerGreen:#72ffa0;
$green60:rgba(187,255,209,0.65);
$offWhite:#f2f3f4;
$blueGradient:linear-gradient(#161C82, #2575FC);
